* {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    color: #111;
}
.container {
    max-width: 1240px;
    margin: 0 auto;
}
.img_sec01 {
    text-align: center;
    padding: 3em;
}
.img_sec01 img {
    width: 100%;
    max-width: 1240px;
    height: auto;
    object-fit: cover;
    border-radius: 30px;
    padding: 0 10px;
}
.sec_01 {
    background-color: #fff;
    padding: 4em;
    max-width: 900px;
    margin: -100px auto 0;
    position: relative;
    z-index: 2;
}
.sec_01 h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}
.sec_01 h2 {
    text-align: center;
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 40px;
}
.box_img {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: stretch;
    justify-content: center;
}
.box_list img {
    border-radius: 20px;
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 2px solid #c32025;
}
.text_list {
    margin: 20px auto;
    display: flex;
    gap: 40px;
}
.text_list li {
    margin-bottom: 10px;
}
.text_list li,
.text_list b,
.text_complete p {
    text-align: justify;
}
.instagram_rotated {
    margin: 0;
    padding: 0;
    width: 100%;
    display: contents;
}
.instagram_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 0;
    width: 100%;
    max-width: 1240px;
    height: auto;
    overflow: hidden;
}
.instagram_rotated blockquote.instagram-media {
    margin: 0 !important;
    padding: 0 !important;
    max-width: none !important;
    width: 100% !important;
    box-sizing: border-box;
}
.text_complete p {
    margin-bottom: 10px;
}
.sc_video {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    margin: 20px auto;
}
.sc_video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.sc_audio h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 50px;
}
.sc_audio iframe {
    margin-bottom: 10px;
}
footer {
    background-color: #ddd;
    text-align: center;
}
footer p {
    font-size: 12px;
    padding: 5px;
}

@media (max-width: 1024px) {
    .sec_01 {
        padding: 2em;
        margin: -50px 1em 0;
    }
    .box_img {
        flex-direction: column;
        gap: 15px;
    }
    .text_list {
        flex-direction: column;
        gap: 20px;
    }
    .instagram_wrapper {
        height: auto;
    }
    .sec_01 h2 {
        text-align: justify;
    }
    .sec_01 h1 {
        line-height: 1.2;
    }
    .img_sec01 img {
        max-width: 90%;
        border-radius: 20px;
    }
}
